.wrapper {
    // width: 600px;
    height: 154px;
    border: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    background: #ededed;
    border-radius: 2px;
    margin-bottom: 20px;
    // background: white;
}

.gameSummary {
    display: grid;
    // grid-template-columns : 114px 160px 228px 182px;
    grid-template-columns : 114px 161px 230px 184px;
    height: 100%;    
}

.positionImg {
    width: 28px;
    height: 28px;
}

.positionInfoWrapper {
    display: flex;
    margin-bottom : 15px ;
}

.winLoseStats {
    display: flex;
    margin-top: 5px;    
    text-align: center;
    width: 90px;
    margin-left: 24px;
}

.kda,.favoriteChampions {
    border-right: 1px solid #cdd2d2;
    // margin-right: 50px;
    // height: 100%;
}

.favoriteChampions {
    margin : 12px 12px 12px 12px ;
}

.kda {
    // display: flex;
    // flex:0 0 auto;
    text-align: center;
    color: #555e5e;
    text-align: center;
    vertical-align: top;
    padding-top: 18px;
    // width: 164px;
    // vertical-align: middle;
    // height: 200px;

}    

.kdaInnerWrapper {
    position: relative;
    top : 40px;
}

.kdaUpperInfo {
    position: relative;
    // top : 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.kdaUpperInfoUnitCenter{
    color:#c6443e;
}

.kdaUpperInfoUnitFirst::after {
    content: " /\00a0";
}
.kdaUpperInfoUnitCenter::after {
    content: " /\00a0";
    color: black;
}

.kdaBottomInfo {
    display: flex;
    justify-content:center;
    color: #353a3a;
    font-size: 16px;
    line-height: 36px;
}

.winRatio {
    color: red;
}

.championImg {
    width: 34px;
    height: 34px;   
    border-radius: 50%;
    overflow: hidden;
    margin  : 0 10px 0 0;
}

.PositionStatContent {
    display: flex;
}


.battleRecord {
    text-align: center;
    font-size: 12px;
    color: #666666;
    line-height: 40px;
}

.winRate {
    position: relative;
    top : -56px;
    font-weight: bold;
    font-size: 14px;
}

.championInfoUnit {
    display: flex;
    margin : 0 0 10px 0 ;
    .championWinRatio {
        color: #c6443e;
        font-weight: bold;
        margin-right : 5px ;

    }

    .winAndLose {
        color :#555555;
        margin-right: 10px;
        padding-right : 10px ;
        border-right: 1px solid #e19205;
    }

    .championKda {
        color :#e19205;
    }
}

.championStatistics {
    display: flex;
}

.championName {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.favoritePosition {

    // margin-top: 15px;
    .favoritePositionTitle {
        font-size:  12px ;
        color : #666666 ;
        line-height: 55px;
    }
    .positionInfoDetail {
        margin-left: 10px;

        .positionName {
            font-weight: bold;
            color: #333333;
            font-size: 14px;
        }
        
        .PositionStatContent{
                
            .roleRate{
                color: #1f8ecd;
                font-weight: bold;
                // margin-right: 5px;
            }
            .positionWinRatioWrapper{
                display: flex;
                margin-left: 10px;
                border-left : 1px solid #666666; 
                padding-left: 5px;
                .positionWinRate{
                    font-weight: bold;   
                }
            }
        }   
    }
}

.emptyChampionWrapper {
    // position: relative;
    margin-bottom: 10px;
    display: flex;
    .emptyChampionDescription{
        position: relative;
        top : 10px ;
        margin-left: 10px;
        color: #999999;
        // letter-spacing:0.005px;
    }
}