.wrapper {
    // margin: 50px 0 50px 0;
    
    // padding-bottom: 200px;
    // font-size: 100px;
    font-size: 11px;
    color : #555555
}

.detailGameInfo{
    display: grid;
    grid-template-columns: 70px 100px 113.5px 90px 113.5px 170.5px 1fr ;
    height: 98px;
    overflow: hidden;
    border: 1px solid #cdd2d2;
    // padding :8px;
    margin-bottom: 10px;

}

.gameStats {
    text-align: center;
    padding : 10px 0 10px 0 ;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
}

.gameStatsUpper {
    // border-bottom: 1px solid #555;
}

.gameStatsUpper:after {
    content: "";
    border-bottom: 1px solid #d0a6a5 ;
    width: 60%;
    display: block;
    margin: 5px auto;
    // padding : 0 0 10px 0 ;
    // margin-top : 10px ; 
    
  }

.gameSettingInfoWrapper {
    margin : 15px 0 0 0
}

.showDetailBtn {
    // background: red;
}

.typeWin {
    background: #d6b5b2   ;
}

.typeLose {
    background: #b0ceea    ;
}

.followPlayers {
    display: flex;
    font-size: 11px;
    margin : 4px 0 4px 0 ;
}

.teamMemberImg {
    width: 16px;
    height: 16px;
}

.teamMemberWrapper {
    display: flex;    
    // width: 80px;
    // overflow: hidden;        
}

.teamMemberName {
    width: 56px;
    overflow: hidden;        
}

.items {
    display: grid;
    grid-template-areas: 
        "a b c d"
        "e f g h" ;
    // flex-direction: column;
    // flex-flow: wrap;
    // items
}

.itemImg {     
    width: 22px;
    height: 22px;
    // margin-right: 0px;
}
.wardImg{
    position: relative ;
    top : 3px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.statsBtnWin {
    display: block;
    width: 30px;
    position: relative;
    cursor: pointer;
    background: #e89c95;
    border : 1px solid #c8817c;
    // display: flex;    
    // flex-direction: column-reverse;
}

.statsBtnLose {
    display: block;
    width: 30px;
    position: relative;
    cursor: pointer;
    background: #7fb0e1;
    border : 1px solid #549dc7;
}

.statBtnImg {
    position: relative;
    left : 8px;
    top : 80px;
}

.championImg {
    width: 46px;
    height: 46px;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 3px;
}

.gameSettingInfo { 
    display: flex;
}

.spellImg {
    width: 22px;
    height: 22px;   
}

.itemToolTipWrapper {
    // display: none;
}

.itemToolTipUpperSide {
    position : absolute ; 
    z-index: 9;
    background : black;
    color: white;
    padding: 10px;
    max-width: 300px;
    // font-size: 100px;
}

.itemToolTipUpperSide::after {
    border-top:10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    // border-bottom: 10px solid black;
    content:"";
    position:absolute;
    bottom:-10px;
    left:50%;
   }

   
.itemToolTipBottomSide {
    position : absolute ; 
    z-index: 9;
    background : black;
    color: white;
    padding: 10px;
    max-width: 300px;
    
}

.itemToolTipBottomSide::after {
    // border-top:10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    content:"";
    position:absolute;
    top : -10px;
    left:50%;
   }

   
.displayNone {
    // display: none;
}

.kdaWrapper {
    display: flex;
    flex-direction: column;
    // justify-items: center;
    text-align: center;
    
}
.multiKillBadge {
    position: relative;
    left : 35px ;
    display: inline-block;
    background: #ee5a52;
    border: 1px solid #c6443e;
    border-radius: 15px;
    padding: 2px 5px;
    line-height: 1;
   font-size: 10px;
    color: #f2f2f2;   
    width: max-content;
    height: 16px;
    line-height: 15px;
    margin-bottom: 5px;
}

.aceBadge {
    position: relative;
    left : 40px ;
    // display: inline-block;
    // background: #ee5a52;
    line-height: 15px;
    border: 1px solid #c6443e;
    // border-radius: 15px;
    padding: 2px 5px;
    // line-height: 1;
//    font-size: 10px;
    // color: #f2f2f2;   

    border-radius: 9px;
    background-color: #8c51c5;
    border: solid 1px #7f3590;
    font-size: 10px;
    color: #f2f2f2;   
    width: max-content;
    height: 16px;
    // text-align: center;
}

.kdaWrapper {
    display: flex;
    flex-direction: column ;
    text-align: center;
    margin-top: 15px;
}

.statsWrapper {
    display: flex;
    flex-direction: column ;
    // justify-content: space-evenly;
    // height: 100%;
    line-height: 20px;
    text-align: center;
    margin-top: 13px;
    color : #555e5e
}

.visionWardWrapper  {
    text-align: center;
    font-size: 11px;
    font-weight: bold;
}

.championEngName  {
    text-align: center;
}

.itemsWrapper {
    margin-top: 17px;
}

.killInvolvement {
    color : #d0021b
}

.gameType {
    color: #555555 ;
    font-weight: bold;
}
