.wrapper {
    // margin-top: 20px;
    background: #ededed;
    border: 1px solid #cdd2d2;

}

.championWinRateWrapper {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;

    // display: table;
    // width: 100%;
    border-bottom: 1px solid #cdd2d2;
    color: #879292;
    text-align: center;

}

.championImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.upperContents{
    font-weight: bold;
    font-size: 13px;
    color: #5e5e5e


}

.bottomContents {
    margin-top: 6px;
    font-size: 12px;
    white-space: nowrap;
    color : #879292
}

.winRatioOption {
    margin-top: 20px;
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 50px;
}

.winRatioType {
    display: table-cell;
    border-left: 1px solid #cdd2d2;
    border-bottom: 1px solid #cdd2d2;
    background-color: #f2f2f2;
    vertical-align: middle;
    cursor: pointer;
    color: #879292;
    text-align: center;
}

.itemActive {
    border-bottom-color: #ededed;
    background-color: #ededed;
    color: #555e5e;
    font-weight: bold;
}

.winRatioBar {
    display: flex;
    width: 135px;
    height: 20px;
    background: #3d95e5;
    color : white
}

.winBar {
    background: red;
    display : flex;
    position: relative;
    // left : 10px;
    // padding-left : 50px;

}

.loseBar {
    background: #3d95e5;
    display: flex;
    flex-direction: row-reverse;
}