.footerWrapper {
    width: 1040px;
    margin-left: 10%;
    margin-top : 30px;
    margin-bottom: 0 ;
    padding-bottom: 20px;
// 
    .menuWrapper{
        line-height: 50px;
        display: flex;
        gap: 1.5em;
        div {
            width: fit-content ;
        }
    }
    .snsWrapper{
        display: flex;
        flex-direction: row-reverse;
        div {
            margin : 5px;
        }
    }
}