.wrapper {
    height: 100vh;
    margin-left: 8px;
    width: 690px;
    // border: 1px solid black;    
    // border-radius: 1em ;
}

.gameCategory{
    border: 1px solid #cdd2d2;
    box-shadow: 0 1px #dcdfdf;
    display: flex;
    flex : 10px 10px 10px;
    // justify-content: space-evenly;
    height: 36px;
    padding : 0 0 0 10px;
    // margin : 
    background: #f2f2f2;
    line-height: 36px;
}

.CategoryAll, .CategorySolo, .CategoryFree {
    margin : 0 10px 0 10px ;
}

.focusdMenu {
    color: #1f8ecd;
    font-weight: bold;
    border-bottom: 2px solid #1f8ecd;
}